@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Inter:wght@100..900&display=swap');
.header-container{
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: url("../../assets/Rectangle 9.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    gap: 10px;
}
.header-logo{
    position: absolute;
    top: 20px;
    margin-bottom: 30px;
}
.logo-image{
    margin: 0 auto;
    object-fit: contain;
    width: 150px;
}
.header-btn{
    width: 180px;
    height: 40px;
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    transition: all 0.5s;
}
.header-btn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}
.title{
    font-size: 50px;
    font-family: "Alex Brush", cursive;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title span{
    line-height: 50px;
}
.des{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    margin: 30px 0;
}
/*.header-content{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/
@media screen and (max-width: 1000px)      {
    .header-container{
        height: 350px;
    }
    .title{
        font-size: 30px;
    }
    .des{
        font-size: 14px;
    }
    .header-btn{
        width: 150px;
        height: 30px;
    }
}
@media screen and (max-width: 700px)      {
    .header-container{
        height: 300px;
    }
    .title{
        font-size: 20px;

    }
    .title span{
        line-height: 15px;
    }
    .des{
        font-size: 10px;
        line-height: 10px;
    }
    .header-btn{
        width: 100px;
        font-size: 10px;
        height: 20px;
    }
}
@media screen and (max-width: 500px)      {
    .header-container{
        height: 250px;
    }
    .title{
        font-size: 17px;
    }
    .title span{
        line-height: 15px;
    }
    .des{
        font-size: 8px;
        line-height: 10px;
    }
    .header-btn{
        width: 100px;
        font-size: 10px;
        height: 20px;
    }
}