.sl-wrapper{
    background-color: rgba(255, 189, 211, 0.2);
    min-height: 50dvh;
    min-width: 100%;
    text-align: center;
    padding: 30px;
    background-image: url("https://img.freepik.com/free-vector/beautiful-floral-background-with-copy-space_23-2149064297.jpg?w=996&t=st=1709350706~exp=1709351306~hmac=d6fcc0a25b0730c1506805f8ec69c0c003057561f3893a2f5ce79728eaa93704");
    background-size: cover;
    background-position: center;
}

.sl-wrapper h1, .sl-wrapper p{
    color: rgba(246, 99, 148, 1);
}

.sl-wrapper h1{
    font-family: 'Alex Brush',cursive;
    font-size: 50px;
    font-weight: 800;
}

.sl-user-boxes{
    display: flex;
    gap: 60px;
    margin-block: 20px;
    padding: 30px 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.sl-user-box{
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.sl-user-box:hover{
    transform: translateY(-20px) ;
    transition: all .5s ease;
    transition-delay: 0.25s;
}

.sl-user-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}